body {
  background-color: #f1f0fa;
  font-family: serif;
  color: #05050a;
}
.custom-backdrop {
  background-color: rgba(
    241,
    240,
    250,
    0.6
  ); /* Semi-transparent overlay color */
}
